body {
	margin: 0;
	padding: 0;
	overflow-y: auto;
	font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular', "Arial", sans-serif;
	font-weight: 200; 
	font-stretch: normal;
	color: #000;

	cursor: default;
	background-color: #111100;

}

li {
	list-style: none;
}
h1 {
	font-family: "Cardo", "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular';
	font-size: 32px;
	margin-bottom: 0px;
	color: white;
	height:auto;
	overflow:hidden;
	max-height:auto;
	max-width: 25%;
	padding-left: 20px;
	font-weight: 100; font-stretch: normal;
	position: relative;
	z-index:3;

}
h2 {
	margin-top: 5px;
	margin-bottom: 0px;
	padding-left: 20px;
	color: white;

}
button {
	font-family: "Cardo", "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular';
	background: transparent;
	cursor: pointer;
	border: none !important;
	outline:none;
	font-size: 20px;
	padding-left: 20px;
	color: white;
	opacity: 0.5;
}

#instructions {
	font-family: 'Sorts Mill Goudy', Georgia, Times, serif;
	position: relative;
	left: 55%;
	transform: translate(-50%, -350%);
	color:white;
	opacity: 0.9;
	z-index: 1;
	text-align: center;

}

#inst_title {
	font-size: 24px;
	opacity: 0.9;
}

#company {
	font-family: 'Sorts Mill Goudy', Georgia, Times, serif;
	position: fixed;
	top: 50%;
	left: 55%;
	transform: translate(-50%, -50%);
	color:white;
	opacity: 0.9;
	z-index: 2;
	text-align: center;
	font-size: 24px;
	opacity: 0.9;
}
.overlay {
	width: 0px;
	height: 0px;
	position: absolute;

	margin: 0 auto;

}

#info {
	font-family: "Cardo", "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular';
	height:auto;
	overflow:hidden;
	max-height:auto;
	max-width: 25%;
	padding-left: 20px;
	font-weight: 100; font-stretch: normal;
	position: relative;
	z-index:3;

}

#kickstarter {
	color: #0a9abf;
}

#twitter {
	color: #0abf5b;
}

#crunchbase {
	color: #41bf0a;
}

#reddit {
	color: #bfb60a;
}

#hacknews {
	color: #bf2e0a;
}

#producthunt {
	color: #bf0a6e;
}

#techcrunch {
	color: #880abf;
}
#canvas {
	width: 100%;
	height: 100%;
	left: 0;
	top: 0;
	position: fixed;
	z-index: 1;
	font-family: "Cardo", "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular';
}

#center {
	position: fixed;
	top: 50%;
	left: 55%;
	transform: translate(-50%, -50%);
	font-family: "HelveticaNeueLight", "HelveticaNeue-Light", "Helvetica Neue Light", "HelveticaNeue", "Helvetica Neue", 'TeXGyreHerosRegular';
	font-weight: 200; font-stretch: normal;
	z-index: 1;
}


